body{
    background-color:rgb(161, 191, 224);
}

.box{
  max-width: 990px;
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.308);
  
  margin-top: 30px;
  box-shadow: darkgrey;
}

li {
  display: inline;
  
}